[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
ruff = "*"
responses = "*"
coverage = "*"
mypy = "*"

[packages]
requests = "*"
ruff = "*"
argparse = "*"
pydantic = "*"
fastapi = "*"

[requires]
python_version = "3.8"
