[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"

[packages]
omnibridge = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"


[requires]
python_version = "3.11"
